<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>AL QUTBI BUILDING MATERIALS LLC</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/clients.css">
    <link rel="icon" href="favicon_io/favicon.ico" type="image/x-icon">
    <script>
        function loadNav() {
            fetch('nav.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('nav-placeholder').innerHTML = data;
                })
                .catch(error => console.error('Error loading navigation:', error));
        }
        window.onload = loadNav;
    </script>
</head>
<body>
    <header>
        <h1>AL QUTBI BUILDING MATERIALS</h1>
        <div id="nav-placeholder"></div>
    </header>
    <main>
        <section>
            <h2 class="clients-title">Our Esteemed Clients</h2>
            <div class="client-container">
                <div class="client-card">Accor Hotels</div>
                <div class="client-card">Majid Al Futtaim (MAF)</div>
                <div class="client-card">Futtaim Engineering</div>
                <div class="client-card">Parkonics</div>
                <div class="client-card">Valtrans</div>
                <div class="client-card">Grid Solutions</div>
                <div class="client-card">Al Ghurair</div>
                <div class="client-card">Avani Hotels</div>
                <div class="client-card">Damen Shipyards Sharjah</div>
                <div class="client-card">DSC Facilities Services Co. LLC</div>
                <div class="client-card">Emaar Hospitality - The Address Downtown, Dubai</div>
                <div class="client-card">Global Transformers & Switchgears Co.</div>
                <div class="client-card">M.A.H.Y. Khoory & Co. LLC</div>
                <div class="client-card">Premier Inn Hotels</div>
                <div class="client-card">Promax Safety Training</div>
                <div class="client-card">Radisson Blu Hotel Dubai Deira Creek</div>
                <div class="client-card">Site Technology Ltd. Co.</div>
                <div class="client-card">Taweelah Aluminium Extrusions Company</div>

            </div>
        </section>
    </main>
    <footer>
        <p>© 2024 Al Qutbi Building Materials. All rights reserved.</p>
    </footer>
</body>
</html>